@import 'prism/themes/prism-okaidia.css'
@import "./fonts.css"

td.spaceleft
  padding-left: .4em

pre.small
  font-size: .45em
  padding: 0
  background-color: #303030 !important

sup
  font-size: 0.3em
  position: relative
  top: -1.5em

li:before
  content: ''

li.bigfont
 font-size: 2.2em

.gothicfont
  font-family: 'Roboto'
  font-weight: bold;
  font-size: 2em

.biofont
  font-family: 'League Gothic'
  font-weight: bold;
  font-size: 2em

.filegothic
  font-size: 1em

.smallgothic
  font-size: 1.2em

.biggothic
  font-size: 2.2em

.presentationtitle
  font-size: 2.0em
  font-weight: bold

h1
  font-family: 'Roboto'
  font-weight: bold;
  font-size: 4.2em

h1.small
  font-size: 3.2em

h1 a
  border: none

h1.name
  font-size: 1.3em
  margin: 0

h2
  font-weight: 900


h2.cube
  margin-bottom: -250px

iframe
  width: 100%
  height: 100%


.main-wrap
  overflow: hidden

.leftbar
  float: left
  width: 50%

.rightbar
  float: right
  width: 50%

div.square
  position: relative
  display:inline-block
  max-width:450px
  min-height:0.5em
  padding: 1px
  font-size: .65em
  color: #000000
  margin-top: 5px
  background: #F8FEEA
  border: #AFC777 solid 3px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

div.dividebyfour
  position:fixed
  width:50%
  height:50%

.NW
  top:0
  left:0


.NE
  top:0
  left:50%


.SW
  top:50%
  left:0


.SE
  top:50%
  left:50%


.footer
  font-size: 0.5em
  color:white
  position: fixed
  text-align:left
  bottom: 0
  left: 0
  padding: 10px

.avatar
  filter: grayscale(30%)
  width: 120px
  height: @width
  border-radius: 100%
  margin-bottom: .5em

.schemas
  width: 90%
  border-radius: 10px
  margin-bottom: 10px

.schemash
  height: 90%
  border-radius: 10px
  margin-bottom: 10px

.schemashh
  height: 80%
  border-radius: 10px
  margin-bottom: 10px

.listhighlight
  border-radius: 10px;
  background: #0F7784;
  padding: 2px;
  width: 200px

.listsleft
  text-align: left
  list-style-type: none

.description
  font-size: 0.6em

.logos
  width: 800px

.code-font
  font-size: 1.2em

.two-columns
  -webkit-column-count: 3
  -moz-column-count: 3
  column-count: 3

.code-side
  float:left
  display:inline-block

.side-by-side
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  margin: 0.5em
.images
  text-align:center;

.bespoke-slide
  z-index: 1

.bold
  font-weight: bold;

pre
  padding: 2em !important

pre, code
  margin: 0 !important

.backdrop
  &--title
    background-image: url('../images/unicornfront.jpg')
    background-position: 0 0
    background-color: white
    filter: brightness(80%);
    background-repeat: no-repeat
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.8

  &--sleep
    background: url('../images/aixasleep.jpg')
    background-size: cover
    background-position: 0 0
    filter: brightness(120%)
    &.bespoke-backdrop-active
      opacity: 1
  &--contract
    background: url('../images/contract.jpg')
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.40
  &--infra
    background: url('../images/infra.jpg')
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.30
  &--microprofileweb
    background: url('../images/microprofileweb.png') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 1
  &--ants
    background: url('../images/ants.jpg') no-repeat center center fixed
    background-size: cover
    background-position: 5 0
    &.bespoke-backdrop-active
      opacity: 0.85
  &--deming
    background: url('../images/deming.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.40
  &--adabored
    background: url('../images/adabored.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.75
  &--mac
    background: url('../images/mac.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.4
  &--kari
    background: url('../images/kari.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.6
  &--eriso
    background: url('../images/eriso.jpg') no-repeat center center fixed
    background-size: cover
    background-position: 0 0
    &.bespoke-backdrop-active
      opacity: 0.6
  &--onion
    background: url('../images/onion.jpg') no-repeat center center fixed
    background-size: cover
    background-position: 0 0
    &.bespoke-backdrop-active
      opacity: 0.80
  &--direction
    background: url('../images/cacauet.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.60
  &--matrix
    background: url('../images/matrix.gif')
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.9
  &--burncontainer
    background: url('../images/burncontainer.gif')
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.8
  &--train
    background-color: white
    background-image: url('../images/train.jpg')
    background-size: 100%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 0.7
  &--restassured
    background-color: white
    background-image: url('../images/restassured.png')
    background-size: 25%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--hoverfly
    background-color: white
    background-image: url('../images/hoverfly_logo.png')
    background-size: 25%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--awaitility
    background-color: white
    background-image: url('../images/awaitility.png')
    background-size: 25%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--whale
    background: url('../images/whale.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.50
  &--traceability
    background-color: white
    background-image: url('../images/traceability.png')
    background-size: 50%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--hub
    background-color: white
    background-image: url('../images/hub.png')
    background-size: 50%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--templateslave
    background-color: white
    background-image: url('../images/docker-build.png')
    background-size: 50%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--buildpush
    background-color: white
    background-image: url('../images/buildpush.png')
    background-size: 20%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--sea
    background: url('../images/sea.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.70
  &--multiple
    background: url('../images/multiple.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.40
  &--rest
    background: url('../images/rest.jpg') no-repeat center center fixed
    background-size: cover
    background-position: 1 0
    &.bespoke-backdrop-active
      opacity: 1
  &--version
    background: url('../images/version.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.50
  &--books
    background: url('../images/books.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.40
  &--money
    background: url('../images/money.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.4
  &--branch
    background: url('../images/branch.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.8
  &--elsa
    background: url('../images/Elsa.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.70
  &--arquilliancube
    background-color: white
    background-image: url('../images/arquilliancube.jpg')
    background-size: 100%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--community
    background-color: white
    background-image: url('../images/community.png')
    background-size: 50%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 1
  &--packaging
    background: url('../images/packaging.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.85
  &--engine
    background: url('../images/engine.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.40
  &--adathink
    background: url('../images/adathink.jpg') no-repeat center center fixed
    background-size: cover
    filter: saturate(75%);
    &.bespoke-backdrop-active
      opacity: 0.85
  &--alexoh
    background: url('../images/alexoh.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.50
  &--network
    background: url('../images/network.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 1
  &--test
    background: url('../images/test.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.50
  &--adarise
    background: url('../images/adarise.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.70
  &--chicken
    background: url('../images/chicken.jpg') no-repeat center center fixed
    background-size: cover
    &.bespoke-backdrop-active
      opacity: 0.70
  &--ending
    background-image: url('../images/end.jpg')
    &.bespoke-backdrop-active
      opacity: 0.65
  &--yellow
    background: #D2D22E
    &.bespoke-backdrop-active
      opacity: 1
  &--green
    background: #00CC00
    &.bespoke-backdrop-active
      opacity: 1
  &--still
    transition: opacity 1s ease
    transform: none
  &--bw
    filter: grayscale(100%)

.yellow
  color: black
  h1
    border-color: currentColor

.green
  color: black
  h1
    border-color: currentColor

.lists
  text-align: center
  list-style-type: none

.underline
  padding-bottom: 0.25em;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 0px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 0;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 0;

.important
  color: #f04958

.black
  color: black

.green
  color: green

.yellowColor
  color: yellow

.blue
  color: blue

.orange
  color: orange

.background-title
  background-color: rgba(0,0,0,0.5);
  width: 100%

.title-single-words
    word-spacing: 9999px
    line-height: 1.5em
    overflow: hidden

.bespoke-slide aside
  display: none

.image-caption
  position: absolute
  bottom: 1.5em
  right: 0
  //margin: 0 auto;
  //width: 100%;
  background-color: rgba(250,250,250,0.6);
  color: #fff
  padding: 0.25em 0.25em 0.1em 0.25em

.bullet.expand
  transition: all 2s ease
  opacity: 0
  overflow-x: hidden
  overflow-y: visible
  max-width: 0
  display: inline-block
  white-space: nowrap
  text-align: center
  line-height: 1.1em
  position: relative
  top: .2em
  &.bespoke-bullet-active
    opacity: 1
    max-width: 500px
